:root{
    /* theme xena */
    --backgroundColorXena: #e968f7;
    --textColor: #ecdded;

    /* theme joueur1 */
    --bgColorContain: #2f2c2c;
}

*{
    margin: 0px;
    padding: 0px;
}


.contain{
    background: cornsilk;
    width: 100vw;
    height: 100vh;
}

.wrapper{
    width: 1000px;
    height: 100vh;
    margin: auto;
    background: #bcf05d;
    transition: ease 0.5s;
    /* background: #01294e; */
}

.container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    
}


.joueur{
    width: 600px;
    height: 500px;
    /* border: 1px solid black; */
    position: relative;
    border-radius: 10px;
    background: cornsilk;
    box-shadow: 0px 0px 4px white;
}

/* IMAGE 1 */

.img1{
    background: url("../images/imgbin_jeuxvideo-com-monster-hunter-world-game-internet-forum-wii-png.png") center no-repeat;
    /* background-color: red; */
    width: 600px;
    height: 400px;
    background-size: contain;
    
}
.img2{
    background: url("../images/580b57fcd9996e24bc43c308.png") center no-repeat;
    /* background-color: red; */
    width: 600px;
    height: 400px;
    background-size: contain;

}
.img3{
    background: url("../images/580b57fcd9996e24bc43c30c.png") center no-repeat;
    /* background-color: red; */
    width: 600px;
    height: 400px;
    background-size: contain;
}
.img4{
    background: url("../images/580b57fcd9996e24bc43c30d.png") center no-repeat;
    /* background-color: red; */
    width: 600px;
    height: 400px;
    background-size: contain;
    
}

.active{
    display: block;
}
.disble{
    display: none;
}

.description_joueur{
    position: absolute;
    bottom: 0px;
    padding: 10px 5px;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

/* Menu */
h4{
    font-size: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: cursive;
    color: #fff;
    text-shadow: 0px 0px 3px black;
    margin-bottom: 20px;
}
ul{
    list-style: none;
}
ul li{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    padding-top: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 4px cornsilk;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 10px 0px;
    color: #333;
    background: rgba(255, 248, 220, 0.568);
}
ul li:hover{
    background: cornsilk;
    color: brown;
}

.menu{
    width: 300px;
    height: 300px;
    /* display: flex;flex-direction: column;
    justify-content: space-evenly; */
    margin-top: 80px;
    
}

nav{
   visibility: hidden;
   transform: translate(-500px);
   opacity: 0px;
}
.translate{
    transition: ease-in 0.3s;
    visibility: visible;
    opacity: 1px;
    transform: translate(0px);
}
.joueur1{
    background: cornsilk;
    color: brown;
}
.joueurActive{
    background: cornsilk;
    color: brown;
}
.joueurDesactive{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    padding-top: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 4px cornsilk;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 10px 0px;
    color: #333;
    background: #fff8dc91;
}
